<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Smartlaunch_ServerIP" value="192.168.1.126" />
		<add key="Smartlaunch_ServerPort" value="7831" />
		
		<!-- Username and password used to access the server. This must be a valid employee account in the Smartlaunch Server -->
		<add key="Smartlaunch_ServerUsername" value="admin" />
		<add key="Smartlaunch_ServerPassword" value="1" />
		
		<!-- Enter the number of seconds the dll should wait before refreshing the data. (higher number to prevent unnessesary server load -->
		<add key="Smartlaunch_UpdateIntervalNews" value="180" />
		<add key="Smartlaunch_UpdateIntervalComputers" value="60" />

		<!-- Enter the computer layout group name, which should be displayed at the website. This must be a valid name, from the list in the Smartlaunch Server -->		
		<add key="Smartlaunch_ComputerLayoutGroupName" value="All Computers" />
	</appSettings>
</configuration>
